<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="schema_serviceAgrRequest_operation">/home/lorenzo/Downloads/QoSbroker/QoSbrokerParent/qosbrokerconfig/schemas/service_agreement_request.xsd</entry>
</properties>
